@CHARSET "UTF-8";

.main-contents {
	margin-top: 50%;
	height: 50%;
	width: 800px;
	text-align: center;
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: auto;
    }
.header {
	font-weight: bold;
	text-align: center;
	margin: auto;
}
a:link {
    color: #0000ff;
}
a:visited {
    color: #999999;
}
a:hover {
    color: #ff0000;
}
.authMessage{
	text-align: center;
}
.errormessage{
	text-align: center;
}
.errorMessages{
	text-align: center;
}
.profile{
	font-weight: bold;
	text-align: center;
}
.title{
	text-align: left;
	font-size: 20px;
}
.users{
	margin-top: 50%;
	height: 50%;
	width: 800px;
	text-align: center;
	margin: auto;
}
table td {
  padding: 3px 10px;
  border: solid 1px black;
}
table{
	text-align: center;
	margin: auto;
	border-collapse: collapse;
	width: 300px;
}
form{
	text-align: center;
	margin: auto;
}
.toptitle{
	text-align: center;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
}
.managementtitle{
	text-align: center;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
}
.copyright{
	text-align: center;
}